.header {
    width: 100%;
    background-color: #000;
    text-align: center;
}

.header__title {
    color: #FFF;
    padding: 20px 0;
    font-size: 5rem;
    font-weight: 700;
}

.game {
    width: 100%;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px 0;
}

.game__setting{
    padding: 40px;
    border: #696969 solid 2px;
}

.game__settingTimes{
    display: inline-block;
    margin-left: 5px;
    font-size: 2rem;
}

.game__settingList{
    font-size: 2rem;

}

.game__title {
    margin-top: 30px;
    font-size: 3rem;
    font-weight: 600;
}

.game__container {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
}

.game__message {
    margin-top: 30px;
    font-size: 3rem;
    font-weight: 600;
}

.game__inner {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.game__space {
    width: 20%;
}

.game__statusText {
    font-size: 3rem;
    font-weight: 600;
}

.game__handList {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
.game__handItems{
    display: flex;
    align-items: center;
}

.game__hand{
    font-size: 2.2rem;
    cursor: pointer;
}

.game__radio {
    cursor: pointer;
    margin-left: 5px;
    font-size: 2rem;
}

.game__gameField {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.game__gameFieldImg {
    width: 30%;
    height: 100%;
}

.game__gameFieldImg--small {
    width: 20%;
    height: 70%;
    padding: 0 10px;
}

.game__btn {
    display: block;
    width: 200px;
    height: 40px;
    margin: 20px auto 0;
    font-size: 1.8rem;
}

.howto {
    width: 100%;
    background-color: #f5f5f5;
    text-align: center;
    padding: 50px 0;
}

.howto__container {
    margin: 0 auto;
    padding: 50px;
    width: 1000px;
    border: #696969 solid 2px;
}

.howto__title {
    width: 30%;
    margin: 0 auto;
    border-bottom: 2px solid rgba(0, 0, 0, 0.7);
    font-size: 3rem;
    font-weight: 600;
}

.howto__subtitle {
    margin-top: 30px;
    font-size: 2.6rem;
    font-weight: 600;
}

.howto__content {
    line-height: 3;
    font-size: 2rem;
}